{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'facegame/gamestyle.css' %}" />
<script type="text/javascript" src="{% static 'facegame/jquery-3.0.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'facegame/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'facegame/face_game.js' %}"></script>

<h1>{{ user_data.id }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p> {{user_data.username}} </p>
<p> {{user_data.score}} </p>
<p> {{user_data.level}} </p>
<p> {{user_data.last_played}} </p>
<h3 id= "score" align="center">Score</h3>
<h3 id= "score_value" align = "center"> {{user_data.score}} </h3>

<h4 id="stopwatch" align="right"></h4>
<div id="memory_board"></div>
<div id="hidden" class="static" src="{% static 'facegame/' %}"></div>
<div id="hidden" class="user_id">{{user_data.id}}</div>
<div id="hidden" class="csrf">{% csrf_token %}</div>